<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.libreapps.projetino">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="FOODSTA"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetIno">
        <activity android:name=".Fiche_Recette"></activity>
        <activity android:name=".Recette" />
        <activity android:name=".Mes_ingredients" />
        <activity android:name=".Decouvrir" />
        <activity android:name=".Recettes_de_saison" />
        <activity android:name=".ajouter_Recette" />
        <activity android:name=".Mon_Compte" />
        <activity android:name=".Profile" />
        <activity android:name=".Mes_recettes" />
        <activity android:name=".Menu" />
        <activity android:name=".inscription" />
        <activity android:name=".Connexion" />
        <activity android:name=".AUrevoir" />
        <activity android:name=".accueil">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>